@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
    <h1>Cadastro de Usuário</h1>
    <p>Criar um cadastro de Usuário (Nome, Email, Telefone e Senha), usando .net MVC. Os dados deverão ser armazenados em um banco de dados e deverá ser utilizado um framework de orm, entity ou nhibernate. Os usuários cadastrados deverão ser exibidos em uma lista, podendo ser editados.</p>
</div>
